{% extends 'base.html' %}
{%block title%}Services |
{% endblock title%}
{% block body %}

<div class="album py-5 bg-light ">
    <div class="container" >

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 row-cols-md-5 g-5">
        <div class="col">
          <div class="card shadow-sm bg-dark">
           <img src="\static\img\hp1.jfif" class="d-block w-100" alt="..." height="250px" >
            <div class="card-body">
           
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" method="post" ><a class="nav-link" href="\pb1" role="button">Purchase</a></button>
                </div>
                <small class="text-muted">Book 1</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm bg-dark">
            <img src="\static\img\hp2.jfif" class="d-block w-100" alt="..." height="250px">
            <div class="card-body">
        
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a class="nav-link" href="\pb2" role="button">Purchase</a></button>
                </div>
                <small class="text-muted">Book 2</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm bg-dark">
             <img src="\static\img\hp3.jfif" class="d-block w-100" alt="..." height="250px" >
            <div class="card-body">
            
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a class="nav-link" href="\pb3" role="button">Purchase</a></button>
                </div>
                <small class="text-muted">Book 3</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm bg-dark">
            <img src="\static\img\hp4.jfif" class="d-block w-100" alt="..." height="250px" >
            <div class="card-body">
          
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a class="nav-link" href="\pb4" role="button">Purchase</a></button>
                </div>
                <small class="text-muted">Book 4</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm bg-dark">
            <img src="\static\img\hp5.jfif" class="d-block w-100" alt="..." height="250px" >
            <div class="card-body">
          
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a class="nav-link" href="\pb5" role="button">Purchase</a></button>
                </div>
                <small class="text-muted">Book 5</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm bg-dark">
            <img src="\static\img\hp6.jfif" class="d-block w-100" alt="..." height="250px" >
            <div class="card-body">
            
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a class="nav-link" href="\pb6" role="button">Purchase</a></button>
                </div>
                <small class="text-muted">Book 6</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm bg-dark">
             <img src="\static\img\hp7.jfif" class="d-block w-100" alt="..." height="250px" >
            <div class="card-body">
         
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a class="nav-link" href="\pb7" role="button">Purchase</a></button>
                </div>
                <small class="text-muted">Book 7</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm bg-dark">
             <img src="\static\img\fb.jfif" class="d-block w-100" alt="..." height="250px" >
            <div class="card-body">
         
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a class="nav-link" href="#" role="button">Purchase</a></button>
                </div>
                <small class="text-muted">Ext. Read</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm bg-dark">
             <img src="\static\img\qd.jfif" class="d-block w-100" alt="..." height="250px" >
            <div class="card-body">
         
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a class="nav-link" href="#" role="button">Purchase</a></button>
                </div>
                <small class="text-muted">Ext. Read</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm bg-dark">
             <img src="\static\img\tl.jfif" class="d-block w-100" alt="..." height="250px" >
            <div class="card-body">
      
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a class="nav-link" href="#" role="button">Purchase</a></button>
                </div>
                <small class="text-muted">Ext. Read</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}