{% extends 'base.html' %}
{%block title%}Contact |
{% endblock title%}
{% block body %}
          <div
    class="p-4 text-center bg-image"
    style="
      background-image: url('static/img/ct.jpg');
      height: 697px;
    ">
<section class="border p-4 py-4 d-flex justify-content-center mb-4">

        
        <form id="custom-validate-form" method="post" action="/contact" class="text-center needs-validation" style="width: 100%; max-width: 300px" novalidate="">
        {% csrf_token %} 
        <div class="text-white mb-4">
          <h2>Contact us</h2>
        </div>
          <!-- Name input -->
          <div class="form-outline mb-4">
            <input type="text" id="custom-validation-name" name="name" class="form-control" placeholder="Name">
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 42.4px;"></div><div class="form-notch-trailing"></div></div></div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="custom-validation-email" name="email" class="form-control" placeholder="Email">
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>

          <!-- Subject input -->
          <div class="form-outline mb-4">
            <input type="text" id="custom-validation-subject" name="subject" class="form-control" placeholder="Subject">
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 50.4px;"></div><div class="form-notch-trailing"></div></div></div>

          <!-- Message input -->
          <div class="form-outline mb-4">
            <textarea class="form-control" id="custom-validation-message" name="message" rows="4" placeholder="Message"></textarea>
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 60px;"></div><div class="form-notch-trailing"></div></div></div>

          <!-- Submit button -->
          <button id="custom-validation-button" class="btn btn-outline-dark btn-block mb-4 ">Send</button>
</div>
          <!-- Status message -->
          <div id="status"></div>
        </form>
      </section>
{% endblock body %}