
{% extends 'base.html' %}
{%block title%}Purchase Book 1 |
{% endblock title%}
{% block body %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 p-4 m-4 ">
<div class="card p-4 m-4" style="width: 18rem;">
  <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 300px; width: 100%; display: block;" src="/static/img/ff1.jpg" data-holder-rendered="true">
  <div class="card-body">
    <h5 class="card-title">Forgive and Forget</h5>
    <p class="card-text">Draco and Hermione bump into each other until those meetings aren't so coincidental anymore. But doesn't Draco have better things to then talk to a muggle-born? And why should Hermione ever want to talk to en ex-Death Eater, when she has Harry and Ron?</p>
    <a href="https://www.fanfiction.net/s/13758642/1/Forgive-and-Forget" class="btn btn-dark">Read Full</a>
  </div>
</div>
<div class="card p-4 m-4" style="width: 18rem;">
  <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 300px; width: 100%; display: block;" src="/static/img/ff2.jpg" data-holder-rendered="true">
  <div class="card-body">
    <h5 class="card-title">The Depth of Being Free</h5>
    <p class="card-text">Sirius couldn't be the Secret-keeper. After his brother died the only thing that was on Sirius's mind was killing the Dark Lord, and when all you want is to get out and fight, you can't make a good Secret-Keeper.</p>
    <a href="https://www.fanfiction.net/s/13734680/1/The-Depth-of-Being-Free" class="btn btn-dark">Read Full</a>
  </div>
</div>  
<div class="card p-4 m-4" style="width: 18rem;">
  <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 300px; width: 100%; display: block;" src="/static/img/ff3.jpg" data-holder-rendered="true">
  <div class="card-body">
    <h5 class="card-title">Unexpected</h5>
    <p class="card-text">Lily has liked Lorcan Scamander for ages, and has yet to get up the courage to tell him that. But when a certain Slytherin (that she openly hates) finds out and offers to help her with her crush, what will happen? Will she find love, or face rejection? Or maybe both?  </p>
    <a href="https://www.fanfiction.net/s/13469141/1/Unexpected" class="btn btn-dark">Read Full</a>
  </div>
</div>  
<div class="card p-4 m-4" style="width: 18rem;">
  <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 300px; width: 100%; display: block;" src="/static/img/ff43.jpg" data-holder-rendered="true">
  <div class="card-body">
    <h5 class="card-title">HHR Horcrux Hunt</h5>
    <p class="card-text">After Ron leaves them on the Horcrux Hunt. Harry and Hermione use the one thing that Wizard and Witches don't have. Logic. How much will they be able to accomplish when they aren't worrying about their food situation. HHR Pairing. Minor Bashing.</p>
    <a href="https://www.fanfiction.net/s/13626621/1/HHR-Horcrux-Hunt" class="btn btn-dark">Read Full</a>
  </div>
</div>
</div>
{% endblock body %}