{% extends 'base.html' %}
{%block title%}Home |
{% endblock title%}
{% block body %}
<div class="container-fluid px-0">
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="\static\img\1.jfif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="\static\img\2.jfif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="\static\img\3.jfif" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
</div>
<div class="row m-4 p-4 " align="center">
          <div class="col-lg-4" >
            <img class="rounded-circle" src="/static/img/t1.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Minalima Harry Potter</h2>
            <p>Readers can open the beautifully designed, elaborately folded Hogwarts™ letter and Diagon Alley™ shopping list, reveal the magical entryway to Diagon Alley™, open a die-cut, fold-out Hogwarts™ Castle, make a sumptuous feast appear in the Great Hall, and more.</p>
            <p><a class="btn btn-secondary" href="https://minalima.com/product/harry-potter-and-the-philosophers-stone-signed-copy/" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="static/img/t2.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Auctioneer becomes a magnet for rare Harry Potter books</h2>
            <p>Like a store out of JK Rowling's imagination, rare artefacts brimming with magic keep turning up at the same auction house. It regularly trades in first editions of the debut Harry Potter book, fetching thousands for the seller, and offering literary history to the buyer. But how does the spell keep on being cast there?</p>
            <p><a class="btn btn-secondary" href="https://www.bbc.com/news/uk-england-55231650" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="/static/img/t3.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Harry Potter: Top 10 Objects Fans Would Love To Have</h2>
            <p>The story of Harry Potter is about so much more than the 'Boy Who Lived.' It's also about the wizarding world, with JK Rowling creating many objects fans would have loved to become reality. There are items that can be used for the sake of good, such as the Invisibility Cloak and Time-Turner.</p>
            <p><a class="btn btn-secondary" href="https://screenrant.com/imdb-harry-potter-best-fan-favorite-objects-ranked/" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
        </div>
{% endblock body %}